  <div id="tags">
    <a href="/index.html" id="avatar" style="background-image:url({{ site.avatar }})"></a>
    <div class="head-menu">
        <ul id="tags__ul" class="clearfix">
          <!--<li id="pl__all" class="tags__li tags-btn active">全部</li>
          {% for category in site.categories %}
            <li id="{{ category[0] }}" class="tags__li tags-btn">{{ category[0] }}</li>
          {% endfor %}-->
          <li id="index" class="tags__li tags-btn active"><a href="{{ site.url }}">首页</a></li>
          <li id="opus" class="tags__li tags-btn"><a href="{{ site.url }}/opus">作品</a></li>
          <li id="about" class="tags__li tags-btn"><a href="{{ site.url }}/about">关于</a></li>
        </ul>
    </div>
  </div> <!-- end #tags -->
<div class="banner">
</div>
<!--
<aside id="sidebar"></aside>
-->
